@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root{

--color-primary-red: hsl(0, 78%, 62%);
--color-primary-cyan: hsl(180, 62%, 55%);
--color-primary-orange: hsl(34, 97%, 64%);
--color-primary-blue: hsl(212, 86%, 64%);

--color-neutral-grey-500: hsl(234, 12%, 34%);
--color-neutral-grey-400: hsl(212, 6%, 44%);
--color-neutral-white: hsl(0, 0%, 100%);
--color-neutral-light-gray: hsl(0, 0%, 98%);

--font-family-main: "Poppins", sans-serif;
--font-size-min: 0.31rem;

}